model_training_checkpoints/
logs/
plots/
pretrained_model_stats_safe_to_delete/
datasets/lfw_224/
datasets/.~lock.df.csv#
datasets/.~lock.lfw.csv#
datasets/__pycache__/
losses/__pycache__/
models/__pycache__/
__pycache__/
datasets/cc_part1and2_cropped/
datasets/df.csv
datasets/glint360k.csv
datasets/lfw.csv
datasets/lfw_224.zip
20180402-114759-vggface2.pt
models/model_resnet34_triplet.pt
models/download.py
datasets/casual_conv/
datasets/cc12.csv
.ipynb_checkpoints/
Validation notebook (LFW only).ipynb
datasets/glint360k_v0.0.csv
datasets/generated_triplets/
Untitled.ipynb
datasets/.~lock.glint360k.csv#
datasets/CC_pairs.txt
datasets/clean data and such.zip
datasets/clean data and such/
datasets/replaced/
model_pretrained_triplet_epoch_0.pt
run_generate.sh

